.online-t .batch-column {
    width: 12.5%;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    float: left;
    min-height: 16px !important;
    max-height: 16px !important;
    box-sizing: border-box;
    padding: 0 5px;
    text-transform: capitalize;
}
.single-batch {
	margin-bottom: 20px;
	line-height: 30px;
}
.single-batch #batch-registered-students {
    display: none;
}
#head {
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 10px;
}
#head .batch-column:nth-child(6) {
    display: none;
}
#batch-price {
	position:relative;
}
#discounted_price {
	text-decoration: none;
	font-weight: bold;
	color: #ff4700;
	font-size: 14px;
	display: block;
	position: relative;
	top: -5px;
	line-height: 10px;
}
#original_price {
	text-decoration: line-through;
	font-size: 12px;
	position: relative;
	top: -5px;
	line-height: 10px;
}
#batch-price .discount_detail {
	height: 100px;
    overflow: hidden;
    display: block;
    padding: 10px;
    font-size: 100%;
    background-color: #1C1C1C;
    border-radius: 5px;
    color: #FFD500;
    line-height: 17px;
    margin: 0;
    position: absolute;
    top: -115px;
    display: none;
    left: -60px;
    width: 200px;
    transition: all 1s ease-in;
    text-align: left;
    box-shadow: 5px 5px 10px #5e5e5e;
}
#batch-price:hover .discount_detail {
	display:block;
}


/* Course Box CSS */

.modern-instructor .author-avatar img{
	margin:0;
	margin-right:5px;
}

@media only screen and (max-width: 767px)  {
	.online-t .batch-column {
		width: 100%;
		font-size: 20px;
		line-height: 20px;
		min-height: auto !important;
		max-height: none !important;
		margin-bottom: 15px;
	}
	.single-batch {
		border-bottom: 2px solid #e7e7e7;
		margin-bottom: 50px;
	}
	.course-features .single-batch .course-booking-button {
		font-size: 25px;
		margin: 10px;
		display: block;
	}
}