.online-t .batch-column {
	width: 11%;
	text-align: center;
	line-height: 16px;
	font-size: 12px;
	vertical-align: middle;
	display: inline-block;
	float: left;
	min-height: 16px;
	box-sizing: border-box;
	padding: 0 5px;
	text-transform: capitalize;
}
.single-batch {
	margin-bottom: 20px;
	line-height: 30px;
}
@media only screen and (max-width: 767px)  {
	.online-t .batch-column {
		width: 100%;
		font-size:20px;
		line-height:30px;
	}
	.single-batch {
		border-bottom:1px solid #eee;
	}
	.course-features .single-batch .course-booking-button {
		font-size: 25px;
		margin: 10px;
		display: block;
	}
}